* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: M-Heading-Font;
    font-weight: 400;
    src: url(https://cdn.shopify.com/s/files/1/0042/0750/9567/files/Butler_Regular.otf?v=1622447581);
    font-display: swap;
}

@font-face {
    font-family: M-Heading-Font;
    font-weight: 300;
    src: url(https://cdn.shopify.com/s/files/1/0042/0750/9567/files/Butler_Light.otf?v=1622447581);
    font-display: swap;
}

:root {
    --font-stack-header: 'M-Heading-Font';
    --font-weight-header: 300;
}

@font-face {
    font-family: M-Body-Font;
    font-weight: 400;
    src: url(https://cdn.shopify.com/s/files/1/0042/0750/9567/files/Jost-Regular.ttf?v=1622447664);
    font-display: swap;
}

@font-face {
    font-family: M-Body-Font;
    font-weight: 500;
    src: url(https://cdn.shopify.com/s/files/1/0042/0750/9567/files/Jost-Medium.ttf?v=1622443602);
    font-display: swap;
}

:root {
    --font-stack-body: 'M-Body-Font';
    --font-weight-body: 400;
    ;
}

body {
    background-color: #F2EFE8 !important;
    width: 100%;
}

.extra {
    background-color: #857251;
    color: white;
    font-family: var(--font-stack-body);
    text-align: center;
    /* padding: 1px; */
    /* padding-bottom: 1px; */
    font-size: 16px;
    letter-spacing: 2px;
}


.nav p {
    font-size: 18px;
    font-family: var(--font-stack-body);
    font-weight: var(--font-weight-header);
}

.nav i {
    font-size: 22px;
    font-weight: 500;
}

.offcanvas {
    background-color: #F2EFE8 !important;
}

.coffee {
    text-align: center;
    align-items: center;
    width: 50%;
}

.text p {
    font-family: var(--font-stack-header);
    font-size: 34px;
    opacity: 0.8;
}

.discover a {
    font-size: 16px;
    font-family: var(--font-stack-body);
    opacity: 0.7;
    color: black;
}

.main_img {
    text-align: center;

}


.Explore {
    text-align: center;
    margin: 80px 0px;
    font-size: 34px;
    font-family: var(--font-stack-header);
    opacity: 0.8;
}

.product_main {
    scrollbar-width: none;
}

.minimog {
    opacity: 0.7;
    font-size: 13px;
    font-family: var(--font-stack-body);
    margin: 10px 0px;
}

.product-img {
    height: 260px;
    width: 100%;
    object-fit: contain;
}

.p_name {
    opacity: 0.8;
    margin-bottom: 10px;
    font-family: var(--font-stack-header);
}

.price p {
    margin-bottom: 10px;
    font-family: var(--font-stack-body);
}

.price_d p {
    color: red;
    margin-bottom: 10px;
    font-family: var(--font-stack-body);
}

.price_d del {
    opacity: 0.6;
    margin-left: 5px;
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: var(--font-stack-body);
}

.line {
    opacity: 0.4;
}

.question {
    text-align: center;
    font-size: 34px;
    font-family: var(--font-stack-header);
    opacity: 0.8;
}

.item {
    scrollbar-width: none;
}

.item_name p {
    font-family: var(--font-stack-header);
    font-size: 20px;
    opacity: 0.9;
}

.cout_item {
    font-family: var(--font-stack-body);
    opacity: 0.6;
}

.last_t {
    text-align: center;
}

.last_text {
    font-size: 1.5rem;
    font-family: var(--font-stack-header);
    opacity: 0.8;
    margin-bottom: 15px;
}

.last_text2 {
    font-family: var(--font-stack-body);
    opacity: 0.8;
}


.don {
    font-family: var(--font-stack-header);
    font-size: 20px;
    opacity: 0.9;
}

.enter {
    font-family: var(--font-stack-body);
    opacity: 0.7;
    margin-bottom: 20px;
}


.First_ {
    font-family: var(--font-stack-header) !important;
    opacity: 0.9;
    margin-bottom: 15px;
    font-size: 20px;
}

.ptag p {
    margin-bottom: 10px;
    font-family: var(--font-stack-body) !important;
    opacity: 0.6;
}

.number {
    margin: 20px 0;
    font-family: var(--font-stack-body);
    opacity: 0.6;
}